@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body{
    margin: 0px;
    font-family: 'Roboto',sans-serif;
}

main {
    display: grid;
    grid-template: 1fr  / 1fr 0.5fr;
    width: 100dvw;
    height: 100dvh;
    background-color: #F4F4ED;
    overflow: hidden;
}

.container {
    width: 60dvw;
    height: 70%;
    border-radius: 1rem;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    gap: 0.5rem 1rem;
    padding: 0.5rem;
    position: relative;
    overflow: scroll;
}

#addBook,
.container {
    background-image: linear-gradient(45deg,#8093F1,#B388EB,#F7AEF8);
}

#addBook {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 0px;
    justify-self: center;
    position: absolute;
    bottom: -80px;
}
.card {
    padding:0.5rem;
    background-color: #e4e4dd;
    width: 90%;
    height: 30%;
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: scroll;
    /* position: relative; */
}

.sidebar {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 20dvw;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    background-image: linear-gradient(45deg,#8093F1,#72DDF7);
    justify-self: end;
    /* position: relative; */
    left: 100%;
    transition: left 0.5s ease;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 0rem 1rem;
    text-align: center;
}

@keyframes materialize {
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes dematerialize {
    from {
        opacity: 1;
        left: 0%;
    }to {
        opacity: 0;
        left: 100%;
    }
}

.materialize-animation {
    animation: 0.8s ease 1 materialize;
}

.dematerialize-animation {
    animation: 0.8s ease 1 dematerialize;
}


/* 
*hacer que las cards sean flex containers
*terminar el formulario de la sidebar
*/


/* 
para la animacion del click en el icono de leido hacer que el fondo de su contenedor se vuelva verde y que
el atributo fill del svg sea del color del fondo (casi blanco).
*/
.iconHolder {
    display: flex;
    gap: 0.3rem;
    align-self: flex-end;
    /* position: absolute;
    bottom: 1rem;
    right: 1rem; */
}

#readIconContainer,
#deleteIconContainer {
    height: 25px;
    width: 25px;
}

#readIconContainer:hover,
#deleteIconContainer:hover{
    cursor: pointer;
}


#addButton:hover {

}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    justify-content: space-around;
    bottom: -7rem;
}

form label {
    align-self: flex-start;
}

form button {
    align-self: center;
    border: none;
    width: 30%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

form input {
    outline: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

form fieldset {
    border: none;
}

form fieldset:not(:nth-child(4)){
    display: flex;
    flex-direction: column;
}

fieldset label:not(:last-child){
    position: relative;
    bottom: 0.3rem;
    left: 0.3rem;
}